<footer class="topnav">
    <div class="footer-copyright">
        <div class="container">
            Article from <a href="https://arstechnica.com/gadgets/" target="_blank">Ars Technica</a>
            <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a>
        </div>
    </div>
</footer>