body {
    background-size: 1500px;
    background-image: url(../img/ap_paper2.jpg);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
  .articleBody {
    height: 200px;
    font-size: 20px;
    overflow-y: scroll;
    line-height: 150%;
  }
  #btnSignUp {
    font: xx-large; font-weight: bold;
    color: black;
  }
  #nameComment {
    /*border-bottom: 2px solid #ec407a;*/
    font-weight: bold;
    background: #635f60;
    color: white;
  }
  .input-field input[type="text"]:focus + label {
    color: #635f60;
  }
  .input-field input[type="text"]:focus {
    border-bottom: 1px solid #635f60;
    box-shadow: 0 1px 0 0 #000;
  }
  .input-field .prefix.active {
    color: #635f60;
  }
  .topnav {
    background-color:navy;
    text-align: center;
  }
  #scrape{
    color: white;
    font-size: x-large;
    background-color: navy;
    border-radius: 35px;
    margin-right: 5px;
  }
  #gitrepo{
    color: white;
    font-size: x-large;
    background-color: navy;
    border-radius: 35px;
  }
  #mainheader{
    color: white;
    font: bolder; font-size: xxx-large;
    text-align: center;
  }
  #h1{
    border-radius: 50px;
    font-weight: bold;
    font-size: 50px;
  }
  #read{
    font-size:x-large;
    border-radius: 10px;
  }