<nav>
    <div class="nav-wrapper topnav z-depth-5">
        <a id="mainheader" href="/" class="brand logo center">Mongo Scraper</a>
        <ul>
            <li><a id="scrape" href="/scrape">Scrape</a></li>
            <li><a id="gitrepo" href="https://github.com/Raffaj1208/mongoScraper" target="_blank">Git repo</a></li>
        </ul>
    </div>
</nav>